<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
    <div class="post-user-name flex">
      <%# ユーザーのプロフィール画像 %>
      <img src="<%= "/user_images/#{@user.image_name}" %>">
      <%# ユーザー名 %>
      <%= link_to(@user.name,"/users/#{@user.id}") %>
    </div>
      <p class="tweet">
        <%= @post.content %>
      </p>
      <div class="post-time">
        <%= @post.created_at%>
      </div>
      <!-- ログイン中のユーザーが投稿にいいねしているデータがあるか -->
      <% if Like.find_by(user_id:@current_user.id,post_id:@post.id) %>
      いいね！済み
      <% else %>
        <%# いいね！していない状態だったら、いいね！へのリンクに %>
        <%= link_to("いいね！", "/likes/#{@post.id}/create",{method: "post"}) %>
      <% end %>
      <!-- ログイン中のユーザーが投稿にいいねしているデータがあるか -->
      <%# ログインユーザーと投稿者が一致している場合のみ表示 %>
      <% if @post.user_id == @current_user.id %>
        <div class="post-menus">
          <%= link_to("edit", "/posts/#{@post.id}/edit") %>
        </div>
        <div class="post-menus">
        <%# postへのlink_toを書く場合、{method:"post"}が必要 %>
          <%= link_to("delete", "/posts/#{@post.id}/destroy",{method: :post}) %>
      <% end %>
      </div>
    </div>
  </div>
</div>