<!DOCTYPE html>
<html>
  <head>
    <title>Sumple</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# アイコン用 %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">  </head>

  <body>
      <div class="headlogo">
        <a href="/">Sumple</a>
        <%# ログイン中のユーザーIDを表示 %>
        <% if @current_user %>
          <p class="session">
          <%= link_to(@current_user.name,"/users/#{@current_user.id}") %>
          </p>
        <% end %>
    </div>
    <%# 通知を表示する %>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%# 通知 %>
    <%= yield %>
  </body>
</html>
