<!DOCTYPE html>
<html>
  <head>
    <title>Sumple1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="headlogo">
        <a href="/">Sumple</a>
        <%# ログイン中のユーザーIDを表示 %>
        <% if @current_user %>
           <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
        <% end %>
    </div>
    <%# 通知を表示する %>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%# 通知 %>
    <%= yield %>
  </body>
</html>
